@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

body {
  color: #333333;
  font-family: "Montserrat", Arial;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 16px;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
}

footer {
  margin-top: 16px;
  padding: 24px 0;
}

footer .author {
  color: #000;
  margin-bottom: 15px;
  font-size: 0.9rem;
}

header {
  margin-top: 16px;
  margin-bottom: 48px;
}

header .github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

header a {
  color: #888888;
}

header h1 {
  font-size: 50px;
}

header p {
  margin-top: 50px;
}

input {
  border: 1px solid #cccccc;
  padding: 8px;
}

button {
  cursor: pointer;
  border: 1px solid #888888;
  background: #888888;
  color: white;
  padding: 8px;
}

#message-1,
#message-2 {
  text-align: left;
  word-spacing: 3px;
  white-space: break-spaces;
  line-height: 24px;
}
